@mixin bouton {
  width: 200px;
  padding: 10px;
  background:$color-5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: $color-1;
  letter-spacing: 6px;
  border-top: 1px solid $color-4;
  border-left: 1px solid $color-4;
  border-bottom: 1px solid $color-6;
  border-right: 1px solid $color-6;
  transition: .1s ease-in-out;
  &:hover{
    transform: translateY(-2px);
    border-bottom: 1px solid $color-4;
    border-right: 1px solid $color-4;
    border-top: 1px solid $color-6;
    border-left: 1px solid $color-6;
  }
  &:active{
    transform:translateX(2px) scale(0.99);
  }
}